nav {
    background: rgba(0, 0, 0, .2);
    width: max-content;
    display: block;
    padding: .5rem 1.5rem;
    z-index: 1.8;
    position: fixed;
    gap: .7rem;
    border-radius: 2rem;
    backdrop-filter: blur(11px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.8rem;
    display: flex;
}

nav a {
    background: transparent;
    padding: .8rem;
    color: white
}